<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>Error 404: File not found</h1>
  <p>We couldn't find this page in our site. L</p>
  <%- include('./partials/footer.ejs') %>
</body>
</html>