<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="stylesheet" href="/styles.css" />
  
  <title>Matthew's Coding Journal</title>
</head>
<body>
  <nav>
    <div class="title">
        <a href="/"><h1>Matthew's Coding Journal</h1></a>
        <p>Built by Matthew.</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/entries/create">New entry</a></li>
    </ul>
  </nav>

  <div class="create-entry content">
    <form>
        <label for="title">Entry title:</label>
        <input type="text" id="title" required>
        <label for="snippet">Entry snippet:</label>
        <input type="text" id="snippet" required>
        <label for="body">Entry body:</label>
        <textarea id="body" required></textarea>
        <button>Submit</button>
    </form>
  </div>
</body>
</html>