<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>  
  <div class="create-entry content">
    <form class="new-entry-form">
        <label class="field-title" for="title">Entry title:</label>
        <input class="field" type="text" id="title" required>
        <label class="field-title" for="snippet">Entry snippet:</label>
        <input class="field" type="text" id="snippet" required>
        <label class="field-title" for="body">Entry body:</label>
        <textarea id="body" required></textarea>
        <button>Submit</button>
    </form>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>